{% assign related_posts = site.related_posts | limit: site.related_blog_posts.max_related %}
{% if related_posts != empty %}
  {% if page.layout == 'post' %}
    <br>
    <hr>
    <br>
  {% endif %}

  <h2 class="text-3xl font-semibold mb-4 mt-12">Enjoy Reading This Article?</h2>
  <p class="mb-2">Here are some more articles you might like to read next:</p>

  <ul class="list-disc pl-7 my-3 space-y-2 marker:text-[var(--global-theme-color)]">
    {% for post in related_posts %}
      <li class="leading-relaxed">
        {% if post.redirect == blank %}
          <a class="underline decoration-1 hover:text-[var(--global-hover-color)]" href="{{ post.url | relative_url }}">
            {{- post.title -}}
          </a>
        {% elsif post.redirect contains '://' %}
          <a
            class="underline decoration-1 hover:text-[var(--global-hover-color)]"
            href="{{ post.redirect }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{- post.title -}}
          </a>
          <svg width="1rem" height="1rem" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        {% else %}
          <a class="underline decoration-1 hover:text-[var(--global-hover-color)]" href="{{ post.redirect | relative_url }}">
            {{- post.title -}}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if site.newsletter.enabled and site.footer_fixed %}
  <p class="mb-2" style="margin-top: 1.5rem !important">Subscribe to be notified of future articles:</p>
  {% if site.plugins contains 'al_newsletter' %}
    {% include plugins/al_newsletter_form_left.liquid %}
  {% else %}
    {% include newsletter.liquid left=true %}
  {% endif %}
{% endif %}
